body,
html {
    margin: 0;
    margin-top: -8px;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#nav-li {
    list-style: none;
    font-family: 'Antonio', sans-serif;
    display: flex;
    font-size: 24px;
}

.nav {
    width: 1536px;
    height: 70px;
    background-color: black;
    border-bottom: 1px solid;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
}

#nav-li-2 {
    margin-left: 630px;
}

.li a {
    color: white;
}

#menu table a {
    color: black;
}

#nav-li-2 span {
    cursor: pointer;
}

#nav-li-2 img {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#menu {
    margin-top: 10px;
    position: absolute;
    color: black;
    display: none;
    right: 663px;
    top: 35px;
    z-index: 1000;
    background-color: white;
}

.show {
    display: block !important;
}

.table-table {
    box-sizing: border-box;
    padding: 0;
    border: none;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    width: 1050px;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Noto Sans JP', sans-serif;
}

.table-table tbody {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
}

.table-table tbody tr {
    border-collapse: collapse;
    box-sizing: border-box;
    border: none;
    margin: 0;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(18, 18, 18, .05);
}

.logo {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 18%;
}

.td-before-1 {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    position: absolute;
    display: block;
    padding-left: 10px;
    width: 43px;
    height: 43px;
    border-radius: 0 0 100%;
    top: 0;
    left: 0;
    background: #000cdf;
    color: #fff;
}

.td-before {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    color: #121212;
    position: absolute;
    display: block;
    padding-left: 10px;
    width: 43px;
    height: 43px;
    border-radius: 0 0 100%;
    top: 0;
    left: 0;
    background: #fce5e3;
}

.logo img {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: block;
    width: 50%;
    margin-left: 30px;
}

.desc {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 30%;
    border-right: 1px solid #b8b8b8;
    text-align: left;
}

.desc-ttl {
    border-collapse: collapse;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    color: #121212;
    margin-bottom: 5px;
}

.desc-txt {
    border-collapse: collapse;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #777;
    margin-bottom: 5px;
}

.rate-star {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 14%;
    border-right: 1px solid #b8b8b8;
    text-align: center;
}

.stars {
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.stars-star {
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    width: 16px;
    margin-right: 4px;
}

.stars-rate {
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #777;
    display: block;
    margin-top: 5px;
}

.rate {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 10%;
    border-right: 1px solid #b8b8b8;
    text-align: center;
}

.rate-num {
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 34px;
    line-height: 45px;
    font-weight: 900;
    color: #121212;
}

.our-rate {
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #777;
    display: block;
    margin-top: 5px;
}

.td-btt {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 26%;
}

.visit {
    border-collapse: collapse;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    background: #e92816;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background .2s;
    width: 130px;
    margin: 0 auto 10px;
    padding: 15px 0;
    position: relative;
}

.table {
    margin: auto;
    width: 1000px;
    font-family: 'Noto Sans JP', sans-serif;
}

.main-txt {
    width: 1000px;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
}

.girl {
    word-break: break-word;
    color: #121212;
    aspect-ratio: auto 770 / 513;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(18, 18, 18, .05);
}

.foot {
    width: 100%;
    height: 100px;
    background-color: black;
    font-family: 'Antonio', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-table a {
    color: white;
    padding-right: 100px;
    font-size: 34px;
}

.right-menu {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    width: 270px;
    position: fixed;
    right: 10px;
}

.review {
    box-sizing: border-box;
    border: none;
    margin: 0;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(18, 18, 18, .05);
}

.logo-small {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
}

.logo-small img {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    width: 80px;
}

.rate-small {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.rate-num {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    color: #121212;
}

.rate-txt {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    font-size: 10px;
    line-height: 15px;
    font-weight: 300;
    color: #777;
}

.visit-small {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    font-stretch: normal;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.visit-btt-small {
    box-sizing: border-box;
    border: none;
    margin: 0;
    box-shadow: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-stretch: normal;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    border-radius: 5px;
    background: #e92816;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background .2s;
    width: 86px;
}

.right-plus {
    margin-left: 230px;
}

@media (max-width: 1200px) {
    body {
        overflow-x: visible;
    }
    .nav {
        height: 167px;
        width: 400%;
    }
    #nav-li {
        font-size: 58px;
    }
    #nav-li-2 {
        margin-left: 388px;
    }
    #menu {
        margin-top: 36px;
    }
    .table-table tbody tr {
        display: flex;
        flex-flow: row wrap;
        padding: 15px 10px 20px;
        margin-bottom: 40px;
        width: 1320px;
    }
    .table {
        margin-left: 230px;
    }
    .logo {
        width: 100%;
        margin-bottom: 15px;
        justify-content: flex-start;
    }
    .main-txt {
        margin-left: 380px;
    }
    .desc {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #121212;
        width: 100%;
        padding: 0 0 15px;
        margin-bottom: 15px;
        border-right: none;
        border-bottom: 1px solid #b8b8b8;
    }
    .desc-txt {
        font-size: 50px;
    }
    .rate-star {
        flex: 30%;
        padding: 0;
        border: none;
        text-align: left;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 16%;
    }
    .stars {
        justify-content: flex-start;
        text-align: left;
    }
    .logo img {
        border-collapse: collapse;
        box-sizing: border-box;
        padding: 0;
        border: none;
        margin: 0;
        box-shadow: none;
        outline: 0;
        font-family: Montserrat, sans-serif;
        letter-spacing: 1px;
        line-height: 1;
        font-size: 100%;
        font-weight: 400;
        font-stretch: normal;
        display: block;
        width: 50%;
        margin-left: 300px;
    }
    .desc h3 {
        display: none;
    }
    .td-before-1 {
        width: 80px;
        height: 61px;
        padding-top: 10px;
        font-size: 60px;
    }
    .rate {
        flex: 20%;
        padding-top: 20px;
        padding: 0;
        border: none;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .our-rate {
        font-size: 47px;
        line-height: 64px;
    }
    .rate-num {
        font-size: 73px;
        font-weight: 600;
        color: #121212;
        line-height: 25px;
        margin-top: 20px;
    }
    .visit {
        width: 185px;
        height: 75px;
        font-size: 41px;
        padding-top: 24px;
    }
    .stars-star {
        width: 50px;
    }
    .stars-rate {
        font-size: 50px;
        line-height: 60px;
    }
    .td-btt {
        width: 30%;
        padding-top: 13px;
        padding-right: 37px;
        flex: 30%;
        align-items: flex-end;
        width: 21%;
        justify-content: flex-start;
    }
    .main-txt h2,
    .main-txt h3 {
        font-size: 60px;
    }
    .main-txt p {
        font-size: 50px;
    }
    .foot {
        width: 291%;
        height: 187px;
    }
    .foot-table {
        font-size: 66px;
    }
    .right-menu {
        position: relative;
        display: block;
        margin: auto;
        width: 542px;
        margin-left: 240px;
    }
    .size-plus {
        width: 341%;
    }
    .right-plus {
        margin-left: 150px;
    }
    .review {
        height: 146px;
        width: 760px;
    }
    .rate-num {
        font-size: 71px;
    }
    .visit-btt-small {
        height: 70px;
        width: 251px;
        font-size: 50px;
        padding-top: 17px;
    }
    .logo-small img {
        width: 190px;
    }
    .foot-table a {
        font-size: 75px;
    }
    #menu table a {
        font-size: 70px;
    }
    #menu {
        margin-top: 90px;
        right: -500px;
    }
    #h1 {
        font-size: 50px;
    }
    #p {
        font-size: 45px;
    }
}

.page {
    font-family: 'Zen Dots', cursive;
    font-size: 70px;
}

.tac {
    text-align: center;
}

@media (max-width: 420px) {
    .table-table {
        margin-left: -100px;
    }
    .main-txt {
        margin-left: 250px;
    }
    .size-plus {
        width: 382%;
    }
    .table-table tbody tr {
        width: 1300px;
    }
    .nav {
        width: 400%;
    }
}

@media (min-width: 630px) and (max-width: 700px) {
    .table {
        margin-left: 500px;
    }
    #menu {
        right: -530px;
    }
    #nav-li-2 {
        margin-left: 600px;
    }
    .main-txt {
        margin-left: 570px;
    }
    .right-menu {
        margin-left: 560px;
    }
}

@media (min-width: 700px) and (max-width: 850px) {
    #nav-li-2 {
        margin-left: 730px;
    }
    .table {
        margin-left: 580px;
    }
    #menu {
        right: -485px;
    }
    .main-txt {
        margin-left: 690px;
    }
    .right-menu {
        margin-left: 680px;
    }
}

@media (min-width: 850px) and (max-width: 1000px) {
    #nav-li-2 {
        margin-left: 1170px;
    }
    .table {
        margin-left: 1000px;
    }
    #menu {
        right: -750px;
    }
    .main-txt {
        margin-left: 1120px;
    }
    .right-menu {
        margin-left: 1100px;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    #nav-li-2 {
        margin-left: 1400px;
    }
    #menu {
        right: -850px;
    }
    .table {
        margin-left: 1200px;
    }
    .main-txt {
        margin-left: 1270px;
    }
    .right-menu {
        margin-left: 1250px;
    }
}

@media (min-width:500px) and (max-width: 629px) {
    #nav-li-2 {
        margin-left: 540px;
    }
    #menu {
        right: -440px;
    }
    .right-plus {
        margin-left: 330px;
    }
    .right-menu {
        margin-left: 390px;
    }
}